node_modules/
extras/
package-lock.json

redis-4.0.7/
redis-4.0.7.tar.gz

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# System Files
.DS_Store
.vscode/

config.json

dataFiles/

server/newrelic_agent.log
artillery.csv
artillery.yaml
newrelic.js
